@{
    ViewData["Title"] = "Upload";
}

<div class="text-center mt-5">
    <h1 class="display-6">Upload XML</h1>
    <hr>
    <form asp-action="UploadFile" asp-controller="Upload" method="POST" enctype="multipart/form-data">
        <input name="file" type="file"></input>
        <button type="submit">Submit</button>
    </form>
    <br/>
    <p class="fw-bold alert-danger rounded-2">@ViewBag.ErrorMessage</p>
</div>
