@{
    ViewData["Title"] = "Upload";
}

<div class="text-center">
    <h1 class="display-4">Upload</h1>
    <p>This is the XML-upload page.</p>
    <form>
        <input type="file">Upload</input>
    </form>
</div>
