@{
    ViewData["Title"] = "Dashboard";
}
@model List<MachineViewModel>;

<div class="dashboard-totalborder">
	<div class="dashboard-totaltext">
		<div>
			<h5>Total machines</h5>
			<span>14</span>
		</div>
		<div>
			<h5>Total events</h5>
			<span>14</span>
		</div>
		<div>
			<h5>Total parameters</h5>
			<span>14</span>
		</div>
	</div>
</div>

@if (Model.Count == 0)
{
	<div class="dashboard-totalborder dashboard-totaltext">
		<span class="fw-bold">No machines found</span>
	</div>
}
else
{
	int machineNummer = 1;
	<table class="datatable">
		<tr>
			<th></th>
			<th>MachineID</th>
			<th>Event</th>
			<th>Parameter</th>
		</tr>
		@foreach (MachineViewModel machine in Model)
		{
			foreach(EventViewModel eventModel in machine.Events)
			{
				foreach(ParameterViewModel parameter in eventModel.Parameters)
				{
					<tr>
						<td>@machineNummer</td>
						<td>@machine.Name</td>
						<td>@eventModel.Name</td>
						<td>@parameter.Name</td>
					</tr>
					machineNummer++;
				}
			}
		}
	</table>
}