.dashboard-totalborder {
    border-width: 1px;
    border-style: solid;
    background-color: rgba(255, 255, 255, 0.50);
    border-color: rgba(0, 0, 0, 0.25);
    margin-bottom: 40px;
    margin-top: 40px;
    border-radius: 4px;
}

.dashboard-totaltext {
    padding-top: 5px;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
}

.dashboard-totaltext span {
    font-weight: bold;
    font-size: 36px;
}

.table, th, td {
    border: 1px solid rgba(0, 0, 0, 0.25);
    background-color: rgba(255, 255, 255, 0.50);
}

.datatable {
    width: 100%;
    border-collapse: collapse;
    border-radius: 4px;
    overflow: hidden;
}

.datatable th:not(:first-of-type){
    width: 20%;
}

.datatable th:first-of-type {
    width: 1%;
    text-align: center;
    color: #adacaa;
}

.datatable td:first-of-type {
    text-align: center;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.25);
}
