.profile-div {
    background-color: white;
    height: 100%;
}

.profile-part{
    display: flex;
    flex-direction: column;
    margin-left: 2%;
    margin-top: 2%;
}

.profile-button {
    color: #0f238c!important;
    border-color: #0f238c!important;
    float: right;
    margin-top: 3%;
}

.profile-button:hover{
    background-color: #0f238c!important;
    color: white!important;
}