.dropzone-text {
    color: rgba(0, 0, 0, 0.25);
    font-weight: bold;
    font-size: 24px;
    transition: all 1s;
}

.dropzone-text:hover {
    color: rgba(0, 128, 0, .5);
}

.bg-nav {
    background: #0f238c;
}

.nav-text{
    color: white!important;
    font-size: 1em;
    font-weight: bold;
}

.nav-text:hover{
    background: rgba(255, 255, 255, 0.2);
}

.nav-logo{
    width: 100%;
    height: auto;
}

.nav-space{
    width: 5em;
    height: auto;
}

.navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'><path stroke='rgba(255,255,255, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.nav-border{
    color: white!important;
}

html, body{
    margin: 0;
    height: 100%;
    overflow: hidden;
}

.upload-div{
    display: flex;
    align-items: center;
    justify-content: center;
}

.upload-border {
    background-color: rgba(0, 0, 0, 1) !important;
    width: 50%;
    height: 50%;
    position: relative;
    border: dashed 2px rgba(0, 0, 0, .25) !important;
    border-radius: 4px !important;
    background: transparent !important;
}

.upload-buttons {
    position: absolute;
    bottom: 4%;
    right: 1%;
    width: 30%;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.upload-btn1 {
    border: none;
    background: rgba(0, 0, 0, 0.033);
    border-radius: 6px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.5);
    transition: 0.5s;
    width: 75%;
}

.upload-btn1:hover {
    color: rgba(255, 0, 0, 1);
    background: rgba(0, 0, 0, 0.1);
}

.upload-btn2 {
    border: none;
    background: rgba(0, 0, 0, 0.033);
    border-radius: 6px;
    width: 75%;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.5);
    transition: 0.5s;
}

.upload-btn2:hover {
    color: rgba(0, 128, 0, 1);
    background: rgba(0, 0, 0, 0.1);
}

.upload-form{
    height: 100%;
}

.upload-center{
    align-items: center;
    margin-top: 15%;
}

.result-message {
    width: 100%;
    height: 100%;
    font-weight: bold;
    position: absolute;
    text-align: center;
}

.dropzone {
    border: none !important;
}

.succes {
    color: green;
}

.error{
    color: red;
}