@model UserViewModel;
<link rel="stylesheet" href="~/css/profile.css" asp-asp-append-version="true" />
<div class="row profile-div">
    <div class="col-9">
        <form>
            <h3>Edit profile information</h3>
            <div class="profile-part">
                <label for="username" class="fw-bold">
                    Naam
                </label>
                <input id="username" name="username" type="text" value="@Model.Name">
            </div>
            <div class="profile-part">
                <label for="role" class="fw-bold">
                    Role
                </label>
                <span>
                    
                </span>
            </div>
        </form>
    </div>
    <div class="col-3">
        <button asp-action="Edit" type="button" class="btn btn-outline-primary profile-button">Edit</button>
    </div>
</div>