@model ProfileViewModel;
<link rel="stylesheet" href="~/css/profile.css" asp-asp-append-version="true" />
<div class="row profile-div">
    <div class="col-9">
        <h3>Profile information</h3>
        <div class="profile-part">
            <label class="fw-bold">
                Naam
            </label>
            <span>
                @Model.CurrentUser.Name
            </span>
        </div>
        <div class="profile-part">
            <label class="fw-bold">
                Role
            </label>
            <span>
                @Model.CurrentUser.Role.Name
            </span>
        </div>
    </div>
    <div class="col-3">
        <button asp-action="Edit" type="button" class="btn btn-outline-primary profile-button">Edit</button>
    </div>
</div>
@if(Model.CurrentUser.Role.Name == "Admin")
{
    <div class="row admin-div">
        <div class="col">
            <h3>Admin panel</h3>
            <p>Bla bla admin dingen</p>
        </div>
        @if(Model.Users.Count == 0)
        {
            <span>No users found</span>
        }
        else
        {
            int userNumber = 1;
            <table>
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Username</th>
                        <th scope="col"><a class="btn btn-primary" asp-action="EditAdmin" asp-controller="Profile">Edit</a></th>
                    </tr>
                </thead>
            @foreach(UserViewModel user in Model.Users)
            {
                <tbody>
                    <tr>
                        <th scope="row">@userNumber</th>
                        <td>@user.Name</td>
                        <td>Edit</td>
                    </tr>
                </tbody>
                userNumber++;
            }
            </table>
        }
    </div>
}