@model ProfileViewModel;
<link rel="stylesheet" href="~/css/profile.css" asp-asp-append-version="true" />
<div class="row profile-div">
    <div class="col-9">
        <h3>Profile information</h3>
        <div class="profile-part">
            <label class="fw-bold">
                Naam
            </label>
            <span>
                @Model.CurrentUser.Name
            </span>
        </div>
        <div class="profile-part">
            <label class="fw-bold">
                Role
            </label>
            <span>
                @Model.CurrentUser.Role.Name
            </span>
        </div>
    </div>
    <div class="col-3">
        <button type="button" class="btn btn-outline-primary profile-button">Edit</button>
    </div>
</div>
@if(Model.CurrentUser.Role.Name == "Admin")
{
    <div class="row admin-div">
        <div class="col">
            <h3>Admin information</h3>
            <p>Bla bla admin dingen</p>
        </div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">First</th>
                    <th scope="col">Last</th>
                    <th scope="col">Handle</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                </tr>
            </tbody>
        </table>
    </div>
}